#root {
  margin: 0 auto;
  text-align: center;
}

.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-height: 5rem; /* Adjust height as needed */
  height: 100%;
  line-height: 1.5rem; /* Adjust line height to match */
}
