/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap");

#root {
  margin: 0 auto;
  text-align: center;
}

.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 6rem;
  line-height: 1.6rem;
  width: 100%; /* Ensure it takes up the full width of the cell */
  box-sizing: border-box; /* Include padding/border in width */
}

/* body {
  font-family: "Lato";
} */

.logo {
  font-family: "Moderustic";
}
